/* General CSS changes*/	
@font-face {
    font-family: scriptFont;
    src:url(../fonts/dancing-script.regular.ttf)
}

@font-face {
    font-family: headings;
    src:url(../fonts/Gotham-Light.otf)
}

@font-face {
    font-family: bodyFont;
    src:url(../fonts/open-sans.regular.ttf)
}

body{
	font-family:bodyFont, Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 img{
	max-height:30px;
	margin-top:-5px;
	margin-bottom:-10px;
}


img{
	max-width:100%;
}

#homeContent, #aboutContent, #productsContent, #servicesContent, #contactContent, #cakesContent, #cupcakesContent, #pastriesContent{
	padding:0px;
	margin:0px;
}

.margin-content{
	margin:1em;
}

h2{
	text-align:center;
	color: #1cbbb4;
	border-bottom: 2px solid #1cbbb4;
	padding-bottom: 15px;
	font-family: headings;
}

.quotemarks{
	color: #1cbbb4;
}

.quote{
	text-align:center;
	font-size:2.3em;
	font-family:scriptFont;
	line-height:1;
}

h3{
	font-family: headings;
	text-align:center;
	color: #ffffff;
	background-color: #1cbbb4;
	padding:10px;
	margin:0px;
}

table{
	margin-top:30px;
	width:100%;
}

td{
	padding-bottom: 20px;
}

#aboutContent p {
	padding-bottom:15px;
}

.footer{
	min-height:40px;
	text-align:center;
}

.footer p{
	margin:1em;
	font-size:0.7em;
}

.socialMedia{
	float:right;
}

#productList{
	margin-top:1.5em;
}

.contactBold{
	font-weight:bold;
	text-transform: uppercase;
	padding-right:20px;
}

.gallery{
	text-align:center;
}
h1 img {
  max-height: 83px;
  margin-top: -15px;
  border:none;
}
.ui-header, .ui-title {
  min-height: 2em;
  border:none;
}
.bignav {
  max-width: 800px;
  border-top: solid 2px #1cbbb4;
  border-bottom: solid 2px #1cbbb4;
  margin: 2% auto;
  
}
.bignav ul{
  list-style:none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.bignav li {
  font-size: 1.2em;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  width: 19%;
}
.bignav a{
  text-decoration: none;
  color: #1cbbb4;
  display: block;
  font-family: sans-serif;
}
.current a {
  background: #1cbbb4;
  color: #fff;
}
.bignav a:hover{
  background: #1cbbb4;
  color: #fff;
}
.center img{
  margin: 0 auto;
}
#imgback{
	margin: 0 auto;
	padding: 0;
}
#imgback img{
  margin: 0 auto;
  display:block;
}
#picfoot{
	background-color: rgb(28, 187, 180);
	max-width: 800px;
	margin: 0 auto;
	padding-top: 1px;
	padding-bottom: 1px;
	color: white;
  text-align:center;
}
/*Canvas*/
#container{
  background-color:white;
  max-width: 800px;
    height: 300px;
    overflow: hidden;
}

#slider{
posistion:relative;  
width:90%;
top:20px;  
left:25px;
}

.ui-slider .ui-slider-handle { 
  width: 40px !important; 
  margin-left: -20px !important; 
  height:40px !important; 
}
/*Canvas*/
@media all and (min-width: 1001px) { /*Desktop view size*/
  .ui-header > .ui-btn {display:none;} /*Hide hamburger tab*/
  .littlenav {display: none;}
  .ui-page-theme-a, .ui-bar-inherit {
    background-color: #ffffff !important;
  }
  .ui-header .ui-title {
    margin: 0;
    padding: 15px;
    float:left;
  }
  .bignav {
    float:right;
    width:550px;
  }
  .bignav li{
    width:19%;
  }
  #imgback {
    padding-top: 30px;
  }
}

/* Tablet screens */
@media (max-width: 1000px) and (min-width: 600px) { /*Between max screen size and 600*/
  .ui-header > .ui-btn {display:none;} /*Hide hamburger tab*/
  .littlenav {
    display: none;
  }
  .ui-page-theme-a, .ui-bar-inherit {
    background-color: #ffffff !important;
  }
}
@media (max-width: 599px) and (min-width: 260px) {
  .bignav {display:none;} /*Hide big nav*/
}